@media screen  and (max-width: 960px){
	.menuIconWrap
	{
		display: block;
	}
	.menu
	{
		min-width: 100px;
		max-width: 230px;
		width: 120px;
		position: absolute;
		background: #fff;
		z-index: 99;
		right: 3%;
		top: 0px;
		display: none;
		height: auto;
		top: 70px;
	}
	.menu ul li
	{
		display: block;
	}
	.contentRightBottomLeft,.contentRightBottomRight
	{
		width: 100%;
		float: none;
	}
	.contentRightBottomRight
	{
		margin-top: 20px;
	}
}

@media screen  and (max-width: 820px){
	.contentHomeHeadWrapper
	{
		width: 100%;
	}
	.contentHomeRegisterLoginWrapper
	{
		width: 100%;
	}
	.contentHomeImage
	{
		position: static;
	}
	.contentLeft
	{
		width: 30%;
	}
	.contentRight
	{
		width: 58%;
	}
}
@media screen  and (max-width: 550px){
	.contentLeft, .contentRight
	{
		width: 94%;
		margin-right: 0px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.emailIcon, .search, .alarmIcon
	{
		margin-right: 10px;
	}
	.mainEditIcon
	{
		margin-left: 6px;
	}
}
@media screen  and (max-width: 480px){
	.search
	{
		width: 120px;
	}
	.searchLeft
	{
		width: 100px;
	}
	.searchRight
	{
		width: 18px;
		margin-top: 7px;
	}
	.logo
	{
		width: 100px;
		margin-top: 4px;
	}
	.emailIcon, .search, .alarmIcon
	{
		margin-right: 5px;
	}
	.mainEditIcon
	{
		margin-left: 10px;
	}
}