


body 
{
  margin:0px;
  padding:0px;
  width:100%; 
  height:100%;
  font-size:12px; 
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
img
{
  border:0px;
  display: inline-block;
}


a
{
  outline: none;
  border: none;
}
.clearfix
{
  clear:both;
}
.divLeft
{
  float:left;
}
.divRight
{
  float:right;
}
.wrapper
{
  height: auto;
  /*min-width: 320px;
  max-width: 2200px; */
  margin-left: auto;
  margin-right: auto;  
  line-height: 24px;
}
.container
{
  width: 100%;
  padding: 0 3% 0 3%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.ui-loader
{
  display: none;
}
.menuIconWrap
{
  height: 40px;
  width: 42px;
  cursor: pointer;
  float: right;
  display: none;
  background: #0f9f8d;
}
.menuIcon
{
  display: block;
  width: 26px;
  height: 21px;
  margin: 11px auto 0px;
  position: relative;
  cursor: pointer;
}
.menuIconBG
{
  background: #fff;
  height: 1px;
  margin-bottom: 5px;
  width: 100%;
  display: block;
  position: absolute;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  transform: translate3d(0, 0, 0) rotate(0deg);
  z-index: 1;
}
.menuBG2
{
  top: 8px;
}
.menuBG3
{
  top: 16px;
}
.ActiveMenuBG1
{
  top: 0;
  background: #fff;
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
.ActiveMenuBG2 {
  background: #fff;
  top: 8px;
  opacity: 0;
}
.ActiveMenuBG3
{
  background: #fff;
  top: 16px;
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}
.header
{
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo
{
  float: left;
  width: 125px;
  height: auto;
}
.menu
{
  width: auto;
  height: auto;
  float: right;
  min-width: 375px;
  text-align: right;
}
.menu ul
{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.menu ul li
{
  list-style: none;
  display: inline-block;
  margin-left:40px;
  color:  #0f9f8d;
  font-size: 14px; 
  font-weight: 400;
  line-height: 30px;
}
.menu ul li a
{
  text-decoration: none;
  color: #0f9f8d;
  border-bottom: 3px solid transparent;
  line-height: 30px;
  display: block;
  text-transform: uppercase;
}
.menu ul li a:hover, .menu ul li a.current{
  border-bottom: 3px solid #004a91;
}
.contentHome
{
  position: relative;
}
.contentHomeHeadWrapper
{
  width: 50%;
  float: right;
  height: auto;
  margin-bottom: 5%;
  padding-top: 8%;
}
.contentHomeHead
{
  color:  #004a91;
  font-size: 30px; 
  line-height: 35px;
  padding-bottom: 10px;
}
.contentHomeText
{
  color:  #353333;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}
.contentHomeMore
{
  border-color:  #004a91;
  border-style: solid;
  background-color:  #004a91;
  width: 140px;
  height: 35px;
  text-align: center;
  color:  #ffffff;
  font-size: 18px; 
  padding: 5px;
  float: right;
}
.contentHomeMore a
{
  text-decoration: none;
  color: #fff;
}
.contentHomeImage
{
  width: 109%;
  height: auto;
  bottom: 0px;
  left: -3%; 
  z-index: -1;
  position: absolute;
 
}
.contentHomeImage img
{
  display: block;
}
.contentHomeRegisterLoginWrapper
{
  width: 50%;
  height: auto;
  padding-bottom: 10%;
  padding-top: 5%;
  float: right;
}
.contentHomeRegisterLoginWrapperhead
{
  width: 50%;
  height: auto;
  float: left;
  text-align: center;
  color:  #000000;
  font-size: 18px; 
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 6px;
  cursor: pointer;
  border-bottom:3px solid transparent;
  background:url('blueOpacity.png');
}
.contentHomeRegisterLoginWrapperheadActive
{
   
  background:url('blueOpacity.png');
  border-bottom:3px solid #fff;
  cursor: inherit;
}
.contentHomeRegisterLoginWrapperBottom
{
  width: 90%;
  height: 210px;
  padding: 5%;
   
  background:url('blueOpacity.png');
}
.contentHomeRegisterLoginWrapperBottomInput
{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5px;
  line-height: 30px;
  height: 30px;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 20px;
}
.contentHomeRegisterLoginWrapperBottomInput input
{
  background: transparent;
  line-height: 30px;
  border:none;
  outline: none;  
  font-family: 'Lato', sans-serif;
  color:  #000000;
  font-size: 18px; 
  font-weight: 300;
  width: 100%;
}
.contentHomeRegisterLoginWrapperBottomSubmit
{
  width: 75px;
  text-align: center;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
  height: auto;
  line-height: 15px;
  padding: 5px;
  background: #0f9f8d;
  color:  #ffffff;
  font-size: 15px; 
  font-weight: 700;
}
.headerBG
{
  background: #0db7c4;
  padding-bottom: 12px;
}
.search
{
  width: 209px;
  padding: 0px 5px 0px 5px;
  background: #fff;
  height: 33px;
  float: right;
  margin-right: 20px;
}
.searchLeft
{
  width: 185px;
  height: 20px;
  margin-top: 4px;
  float: left;
}
.searchLeft input
{
  width: 100%;
  height: auto;
  line-height: 20px;
  background: transparent;
  outline: none;
  border:none;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 13px;
}
.searchRight
{
  width: 18px;
  float: left;
  cursor: pointer;
  margin-top: 7px;
  height: auto;
}
.emailIcon
{
  width: 20px;
  height: auto;
  margin-right: 20px;
  margin-top: 8px;
}
.alarmIcon
{
  width: 17px;
  height: auto;
  position: relative;
  margin-right: 20px;
  margin-top: 7px;
}
.alarmIcon span
{
  position: absolute;
  z-index: 99;
  top: -12px;
  left: 15px;
  color:  #ffffff;
  font-size: 12px; /* Approximation due to font substitution */
  font-weight: 400;
}
.mainEditIcon
{
  width: 21px;
  height: auto;
  margin-top: 5px;
  margin-left: 10px;
}
.contentLeft
{
  width: 21%;
  padding:20px 3% 20px 3%;
  background: #efefef;
  height: auto;
  float: left;
  margin-right: 3%;
}
.contentRight
{
  width: 67%;
  margin-right: 3%;
  height: auto;
  float: left;
}
.doctorImage
{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.doctorImageHead
{
  width: 100%;
  height: auto;
  padding-bottom: 4px;
  color:  #666666;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.doctorImageText
{
 width: 100%;
 height: auto;
 padding-bottom: 4px;
 color:  #666666;
 font-size: 12px;
 font-weight: 400;
 line-height: 15px;
}
.doctorImageText img
{
  margin-left: 6px;
  float: right;
}
hr
{
  margin-top: 20px;
  margin-bottom: 20px;
  border:1px solid #0db7c4;
  /* added by me */
  box-shadow: 0px 5px 5px rgba(175,136,136,0.75);
}
.bloodDoctor
{
  width: 100%;
  height: auto;
  padding-bottom: 4px;
}
.bloodDoctorLeft
{
  width: 20px;
  height: auto;
  float: left;
}
.bloodDoctorRight
{
  width: auto;
  height: auto;
  float: left;
  color:  #666666;
  font-size: 12px; 
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
}
.bloodDoctorBottom
{
  width: 100%;
  height: auto;
  padding-bottom: 4px;
}
.bloodDoctorLeftBottom
{
  width: 30px;
  height: auto;
  float: left;
}
.bloodDoctorRightBottom
{
  width: auto;
  height: auto;
  float: left;
  color:  #666666;
  font-size: 12px; 
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
}
.bloodDoctorRightBottomInner
{
  width: 100%;
  height: auto;
  padding-top: 2px;
}
.bloodDoctorRightBottomInnerImage
{
  width: 20px;
  height: auto;
  float: left;
}
.bloodDoctorRightBottomInnertext, .bloodDoctorRightBottomInnertextAdd
{
  width: auto;
  height: auto;
  float: left;
}
.bloodDoctorRightBottomInnertextAdd
{
  color:  #000000;
  font-size: 10px; 
  font-weight: 600;
  cursor: pointer;
}
.contentRightBottom
{
  width: 100%;
  height: auto;
  border-top:1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}
.contentRightBottomLeft
{
  width: 30%;
  margin-right: 5%;
  float: left;
}
.contentRightBottomRight
{
  width: 65%;
  height: auto;
  float: left;
}
.contentRightBottomHead
{
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  color:  #666666;
  font-size: 12px; 
  font-weight: 600;
  text-transform: uppercase;
}
.contentRightBottomHead small
{
  font-size: 8px;
}
.contentRightBottomHead small img
{
  margin-left: 6px;
  cursor: pointer;
}
.contentRightBottomText
{
  width: 100%;
  height: auto;
  color:  #666666;
  font-size: 12px; 
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
}
.contentRightBottomHeadLeft
{
  color:  #666666;
  font-size: 12px; 
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  width: 45%;
  margin-right: 5%;
  float: left;
}
.contentRightBottomHeadRight
{
  color:  #666666;
  font-size: 12px; 
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  width: 50%;
  float: left;
}
.contentRightTop
{
  width: 100%;
  height: auto;
  color:  #000000;
  font-size: 12px; 
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
}
.contentRightTop a
{
  text-decoration: none;
  color: #000;
}
.contentRightTopBlue, .contentRightTopBlue a
{
  color:  #8ddde3;
  text-decoration: none;
}
.contentRightBottomHeadBlue
{
  color:  #666666;
  font-size: 12px;  
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 32px;
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.contentRightBottomHeadBlueTable6, .contentRightBottomHeadBlueTable4
{
  border: 1px solid #ccc;
}
.contentRightBottomHeadBlueTableHead
{
  text-align: center;
  color:  #666666;
  font-size: 12px; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 32px; 
}
.contentRightBottomHeadBlueTableBottom
{
  text-align: center;
  color:  #666666;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 32px;
  border-top: 1px solid #ccc;
}
.contentRightBottomHeadBlueTable61
{
  padding: 10px 1% 10px 1%;
  width: 6%;
  float: left;
}
.contentRightBottomHeadBlueTable62
{
  padding: 10px 1% 10px 1%;
  width: 10%;
  float: left;
}
.contentRightBottomHeadBlueTable63
{
  padding: 10px 1% 10px 1%;
  width: 20%;
  float: left;
}
.contentRightBottomHeadBlueTable64
{
  padding: 10px 1% 10px 1%;
  width: 15%;
  float: left;
}
.contentRightBottomHeadBlueTable65
{
  padding: 10px 1% 10px 1%;
  width: 23%;
  float: left;
}
.contentRightBottomHeadBlueTable66
{
  padding: 10px 1% 10px 1%;
  width: 10%;
  float: left;
}
.contentRightBottomHeadBlueLink
{
  width: auto;
  height: auto;
  float: right;
  margin-bottom: 30px;
  color:  #0db7c4;
  font-size: 12px; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 21px; 
  text-transform: uppercase;
  margin-top: 15px;
}
.contentRightBottomHeadBlueLink a
{
  text-decoration: none;
  color: #0db7c4;
}
.contentRightBottomHeadBlueLink img
{
  vertical-align: middle;
  margin-left: 5px;
}

.contentRightBottomHeadBlueTable41
{
  padding: 10px 1% 10px 1%;
  width: 10%;
  float: left;
}
.contentRightBottomHeadBlueTable42
{
  padding: 10px 1% 10px 1%;
  width: 37%;
  float: left;
}
.contentRightBottomHeadBlueTable43
{
  padding: 10px 1% 10px 1%;
  width: 20%;
  float: left;
}
.contentRightBottomHeadBlueTable44
{
  padding: 10px 1% 10px 1%;
  width: 20%;
  float: left;
}
.contentRightBottomHeadBlueTable44 a
{
  text-decoration: none;
  text-transform: uppercase;
  color: #0db7c4;
}